{% extends 'base.html' %}
{% block title %}Create A New Blog{%endblock%}
{% block content %}
{% if user.is_authenticated %}
<h1>Add Post....</h1>
<br><br>
<div class="form-group">
<form  method="post">
    {% csrf_token %}
    {{form.media}}
    {{form.as_p}}
    <button class="btn btn-secondary">Post</button>
</form>
</div>


<script>
    var name = "{{ user.id }}";
    document.getElementById("elder").value = name;

    setTimeout(function(){
        for (let editor of document.getElementsByClassName('cke_browser_webkit')){
          editor.style.width = '100%';
        }
      }, 500)
</script>
{% else %}

You're not allowed here !(and you know it)

{% endif %}



{% endblock %}