{% extends 'base.html' %}
{% block content %}

{% load static %}
<link rel="stylesheet" href="{% static 'home_styles.css'%}">

{% if user.is_authenticated %} 
<div class="posts">
  <div class="posts-head">
      <h1>Posts</h1>
  </div>
  <div class="post-container">
      <ul class="post-list">
          {% for post in object_list %}
             {% if user.id == post.author.id %}
              <li class="post">
                  <div class="imgBx">
                      {% if post.header_image %}
                      <img src="{{post.author.profile.profile_pic.url}}"><br/><br/>
                      {% else %}
                      <img src="{% static 'myblog/images/elon.jpg' %}" alt="profile_pic">
                      {% endif %}
                  </div>
                  <div class="content">
                      <div class="author">
                          <h6 class="heading">{{post.author.first_name}} {{post.author.last_name}} </h6>
                          <h6 class="time">{{post.post_date}}</h6>
                      </div>
                      <hr>
                      <div class="main">
                          <a href="{% url 'article-detail' post.pk %}"> <button type="button" class="btn btn-primary"> {{post.title}} </button> </a> 
                          <p class="para"> {{ post.snippet }} </p>
                          {% if user.is_authenticated %} 
                          {% if user.id == post.author.id %}
                          <div class="buttons">
                              <a href="{% url 'update_post' post.pk %}" class="edit"><button type="button" class="btn btn-success">Edit</button></a>
                              <a href="{% url 'delete_post' post.pk %}" class="delete"><button type="button" class="btn btn-danger">Delete</button></a>
                          </div>
                          {% endif %}
                          {% endif %}
                      </div>              
                  </div>    
              </li>
              {% endif %}
              {% endfor %}
      </ul>
  </div>
</div>
{% else %}
<h6>You are not able to access this</h6>
{% endif %}


{% endblock %}